<div class="post-wrapper">
    <div class="card border-secondary">
        <div class="card-header post-title-box">
            <p class="post-title"><a href="/dashboard/edit/{{id}}"> {{title}} </a></p>
            <p class="post-author">{{format_date date_created}}</p>    
        </div>
    </div>
</div>
