<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        type="text/css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
  <link href="/css/style.css" 
        rel="stylesheet" 
        type="text/css">
</head>

<header class="p-3" style="background-color: #4c0f0f!important">
  <nav class="nav">
      {{#if loggedIn}}
      <a href="/" class="nav-link">Home</a>
      <a href="/dashboard/mydashboard" class="nav-link">Dashboard</a>
      <button id="logout" class="nav-link">Logout</button>
      {{else}}
      <a href="/" class="nav-link">Home</a>
      <a href="/dashboard/mydashboard" class="nav-link">Dashboard</a>
      <a href="/login" class="nav-link">Login</a>
      {{/if}}
  </nav>
  <div class="logo">{{title}}</div>
</header>

<main>
        {{{ body }}}
</main>

<footer></footer>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>