<div class="post-wrapper">
    <div class="card border-secondary">
        <div class="card-header post-title-box">
            <p class="post-title">Create new Post</p>  
        </div>
        <div class="card-body">
            <form class="new-post-form">
              <div class="form-group">
                <label for="post-title">Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Enter the post title">
              </div>
              <div class="form-group">
                <label for="post-content">Content</label>
                <input type="text" class="form-control" id="post-content" placeholder="Enter the post content">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary login-button">Create</button>
              </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="box"><div class="new-post"><a href="/dashboard/create"> + New Post</a></div></div>
<!-- javascript file-->
<script src="/js/add-post.js"></script>