    
{{#if loggedIn}}
    </div>

    {{#each posts as |post|}}
        {{> mypost-info post}}
        </div>
    {{/each}}

{{else}}
<p>you do not currently have any posts</p>

{{/if}}
<div class="box"><div class="new-post"><a href="/dashboard/create"> + New Post</a></div></div>