<div class="post-wrapper">
    <div class="card border-secondary">
        <div class="card-header post-title-box">
            <p class="post-title">Login</p>  
        </div>
        <div class="card-body">
            <form class="login-form">
              <div class="form-group">
                <label for="username-login">Username</label>
                <input type="text" class="form-control" id="username-login" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="password-login">Password</label>
                <input type="password" class="form-control" id="password-login" placeholder="Enter your password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary login-button">Login!</button>
              </div>
              
              <a href="/signup" class="sign-up-link">Sign up instead</a>
            </form>
        </div>
    </div>
</div>
<!-- javascript file-->
<script src="/js/login.js"></script>