.logo {
  color: black;
  background-color: #d9ead3;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  padding: 2px 2px;
  border: 2px solid #d9ead3;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 5px 5px  1px gray;
  -moz-box-shadow: 5px 5px  1px gray;
  -webkit-box-shadow: 5px 5px  1px gray;
  -o-box-shadow: 5px 5px  1px gray;
}

header a {
  color: #d9ead3!important;
  padding-right: 60px!important;
  padding-left: 0px!important;
  padding-bottom: 20px!important;
}

header a:hover {
  text-decoration: underline;
}

.post-wrapper {
  padding: 15px 30px 0px 30px;
}

.post-title-box {
  background-color: #4c0f0f;
  display: flex;
  justify-content: space-between;

}

.post-title {
  text-align: left;
  color: #d9ead3;
}

.post-title a {
  text-decoration: none;
  color: #d9ead3;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-author {
  text-align: right;
  font-size:small;
  text-align: right;
  color: #d9ead3;
}

.login-button {
  width: 100%;
  margin-top: 20px;
}

.sign-up-link {
  text-decoration: none;
  color: black;
}

.nav button {
  background-color: #4c0f0f;
  border: none;
  color:#d9ead3!important;
  height: fit-content;
  width: fit-content;
}

.nav button:hover {
  text-decoration: underline;
}

.txtAreaComment {
  width: 100%;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-post {
  background-color:#4c0f0f;
  font-family:Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding: 2px 2px;
  border: 2px solid #d9ead3;
  border-radius: 10px;
  width: fit-content;

}

.new-post a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
